.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 30px;
}
.price{
    color: orange;
}
.buy-now-button{
    background-image: linear-gradient(90deg, blue, navy);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    border-radius: 10px;
    padding: 10px 20px;
}
.cat1{
   background-color: orange;
   
}
.cat2{
    background-color: blue;
    
}
.cat3{
    background-color: orchid;
    
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.shoes h5{
    color: green;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px gray;
}
#subscribe{
    height: 300px;
}
#subscribe h6{
    color: cyanblue;
}

footer{
    text-align: center;
}